body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  /* margin: auto; */
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-top: 188px;
  margin-bottom: 292px;
}

/* nav-section */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.navbar {
  display: flex;
  flex-direction: row;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
}

.nav-link {
  margin-right: 40px;
}

.address-block {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.adress-link {
  margin-right: 40px;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  text-decoration: none;
  margin-right: 76px;
}

.logo-span {
  color: #4d5ae5;
}

.navbar-section {
  margin-right: 156px;
  margin-left: 156px;
}

/* Order section */

.order-section {
  background-color: #2e2f42;
  width: auto;
  height: 600px;
}
