body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.12;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

ul,
ol {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* ============== MENU ==============  */

.page-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-color {
  color: #2e2f42;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.menu-address {
  font-style: normal;
}

.menu-address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.menu-address-link:hover,
.menu-address-link:focus {
  color: #404bbf;
}

/* ============== HERO ============== */

.main {
}

.order-service {
  background: #2e2f42;
}

.h1-order-service {
}

.button-order-service {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
}

.button-order-service:hover,
.button-order-service:focus {
  background-color: #404bbf;
}

/* ============== BENEFITS BLOCK ============== */

.benefits-block {
}

.h2-Benefits {
}

.benefits-block-list {
}

.text-benefits-block {
}

/* ============== OUR TEAM ============== */

.h2-our-team {
  line-height: 1.11;
  text-transform: capitalize;
}

.our-team-list {
  background-color: #ffffff;
}

.our-team-block {
  background: #f4f4fd;
}

.h3-our-team {
  text-align: center;
}

.text-our-team {
  text-align: center;
}

/* ============== OUR PORTFOLIO  ============== */

.our-portfolio-block {
}

.our-portfolio-item {
}

.h3-our-portfolio {
}

.text-our-portfolio {
}

/* ============== FOOTER  ============== */

.footer-block {
  background: #2e2f42;
}

.footer-page-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-color {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
}
